<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <title>Page 1</title>
      <style>
         body
         {
         margin-left: 50px;
         }
         table
         {
         border:1px solid rgb(148, 140, 140);
         height: 100%;
         width: 100%;
         border-collapse: collapse;
         border-radius: 30px;
         }
         th
         {
         height: 40px;
         color: white;
         background-color: rgb(0, 133, 252);
         }
         td
         {
         height: 20px;
         text-align: left;
         border:1px solid rgb(148, 140, 140);
         padding: 10px;
         position: relative;
         width: 500px;
         }
         .content
         {
         width: 580px;
         border-radius: 5px 5px 0px 0px;
         overflow: hidden;
         }
         .pagination {
         display: inline-block;
         }
         .pagination a,a {
         color: black;
         float: left;
         padding: 8px 16px;
         text-decoration: none;
         }
         .page-not-found h1,.page-not-found a
         {
         color: red;
         }
         .footer
         {
         width: 500px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         }
         span
         {
            display: inline-block;
            
         }
         .edit
         {
           
           position: absolute;
           right: 40px;
         }
         .delete
         {
            position: absolute;
            right: 10px;
         }
         .addEmployee
         {
            margin-top: 20px;
            width: 150px;
            height: 50px;
            background-color: rgb(0, 133, 252);
            cursor: pointer;
            border-radius: 10px;
            padding-top: 5px;
            
            
         }
        
         .addEmployee a 
         {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items:center;
            text-decoration: none;
            color: white;
         }


      </style>
   </head>
   <body>
      <%
         let display=1;
         let totalPages=Math.ceil(data.totalRecords/data.recordsPerPage);
         if(data.page>totalPages || data.page<=0)
         {
            display=0;
         }
         %>
      <div class="header" style="display:<%=display==1?'block':'none';%>">
         <h1>Team Details</h1>
         <h3>DBPerformance Team</h3>
      </div>
      <div class="content" style="display:<%=display==1?'block':'none';%>">
         <table>
            <thead></thead>
            <tr>
               <th>Manager</th>
               <th>Role</th>
            </tr>
            <tbody>
               <%
                  let start=data.page;
                  let end = start*data.recordsPerPage;
                  if(start!=1)
                  start=((start-1)*data.recordsPerPage)+1;
                    for (let i=start-1;i<data.req.session.dbPerformanceTeamList.length && i<=end-1 ;i++) { 
                      %>
               <tr>
                  <td><%=data.req.session.dbPerformanceTeamList[i].name %></td>
                  <td><%=data.req.session.dbPerformanceTeamList[i].role %><span class="material-icons edit" >edit</span><span class="material-icons delete">delete</span></td>
               </tr>
               <%}
                  %>
            </tbody>
         </table>
      </div>
      <div class="footer">
         <div class="go-back-home" style="display:<%=display==1?'block':'none';%>">
            <a href="http://localhost:3000/home">	&#8592; Home</a>
         </div>
         <div class="pagination" style="display:<%=display==1?'block':'none';%>">
            <a href="http://localhost:3000/TeamDetails/DBPerformanceTeam/<%=data.page<=1?1:parseInt(data.page)-1%>">&#8592;</a>
            <a href="http://localhost:3000/TeamDetails/DBPerformanceTeam/<%=data.page%>"><%=data.page%>/<%=totalPages%></a>
            <a href="http://localhost:3000/TeamDetails/DBPerformanceTeam/<%=data.page>=totalPages?totalPages:parseInt(data.page)+1%>">&#8594;</a>
         </div>
         <div class="page-not-found" style="display:<%=display==1?'none':'block';%>">
            <h1>Page Not Found </h1>
            <a href="http://localhost:3000/">Home</a>
         </div>
        
      </div>
      <div class="addEmployee">
         <a href="http://localhost:3000/TeamDetails/DBPerformanceTeam/NewMember"><span class="material-icons" >person_add</span><span>Add Member</span> </a>
      </div>
   </body>
</html>