<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <title>Page 1</title>
      <style>
         .filter-result 
         {
         margin-top: 100px; 
         margin-left: 50px;
         width: 50vw;
         }
         table
         {
         border:1px solid rgb(148, 140, 140);
         height: 100%;
         width: 100%;
         border-collapse: collapse;
         border-radius: 30px;
         }
         th
         {
         height: 40px;
         color: white;
         background-color: rgb(0, 133, 252);
         }
         td
         {
         height: 20px;
         text-align: left;
         border:1px solid rgb(148, 140, 140);
         padding: 10px;
         }
         .project-details
         {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         width: 80vw;
         }
         .box
         {
         border-radius: 5px;
         width: 200px;
         height: 40px;
         }
         .box select 
         {
         padding-left: 1.5rem;
         display: block;
         width: 100%;
         height: 100%;
         outline: none;
         border: none;
         background-color: rgb(108, 118, 125);
         color: white;
         }
         input[type="date"],input[type="submit"],label
         {
         display: block;
         height: 100%;
         border-radius: 5px;
         outline: none;
         border: none;
         background-color: rgb(108, 118, 125);
         color: white;
         text-align: center;
         }
         label
         {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         }
         input[type="date"]
         {
         margin-top: 10px;
         }
         input[type="date"]:hover,input[type="submit"]:hover
         {
         background-color:rgb(37, 56, 88);
         }
         .box  :hover
         {
         background-color: rgb(37, 56, 88);
         cursor: pointer;
         }
         .go-back-home a
         {
         color: black;
         float: left;
         padding: 8px 16px;
         text-decoration: none;
         }
      </style>
   </head>
   <body>
      <h1>Project Details</h1>
      <form action="/ProjectDetails" method="post">
         <div class="project-details">
            <div class="box team" >
               <select id="teams" name="team">
              
                  <% for(let i=0;i<data.teams.length;i++) {%>
                     <option value="<%=data.teams[i].team %>"> <%= data.teams[i].team %></option>
                     <%}%>
               </select>
            </div>
            <div class="status box">
               <select id="status"  name="status">
                  <% for(let i=0;i<data.teamStatus.length;i++) {%>
                  <option value="<%=data.teamStatus[i] %>"> <%= data.teamStatus[i] %></option>
                  <%}%>
               </select>
            </div>
            <div class="from-date box">
               <label>Start Date &#8595;</label>
               <input type="date" name="startDate"  value="<%= data.startDate %>" />
            </div>
            <div class="to-date box">
               <label>End Date &#8595;</label>
               <input type="date" name="endDate"  value="<%= data.endDate %>"/>
            </div>
            <div class="box">
               <input type="submit" value="Fetch"/>
            </div>
         </div>
      </form>
      <div class="filter-result" style="display: <%=data.result && data.projectDetails.length>0 ?'block':'none' %>;">
         <table>
            <thead>
               <tr>
                  <th> Project Name</th>
                  <th> Team</th>
                  <th> Start Date </th>
                  <th>  Status</th>
               </tr>
            </thead>
            <tbody>
               <% 
                  if(data.result)
                  {
                  for(let i=0;i<data.projectDetails.length;i++){
                     %>
               <tr>
                  <td><%=data.projectDetails[i].project_name%></td>
                  <td><%=data.projectDetails[i].team %></td>
                  <td><%=JSON.stringify(data.projectDetails[i].startdate).substring(1,11)%></td>
                  <td><%=data.projectDetails[i].status %></td>
               </tr>
               <% }
                  } %>
            </tbody>
         </table>
      </div>
      <% if(data.result && data.projectDetails.length==0) { %>
      <h2  style="color: red; margin-top: 100px; margin-left: 100px;">No record as found 🙄</h2>
      <%}%>
   </body>
   <div class="go-back-home" style="display: <%=data.result?'block':'none' %>; ">
      <a href="http://localhost:3000/">	&#8592;Home</a>
   </div>
</html>